
<div class="wrapper no-padding-top no-padding-bottom">
  <footer class="footer row">
    <div class="footer__left">
        <p>Създадено от нас в <a href="https://github.com/mnitchev/wedding">GitHub</a>. Базирано на работата на <a href="https://github.com/barrymcgee/barryandgillian.wedding"> Barry & Gillian </a> и <a href="https://github.com/tumbleshack/wedding">Lily & McKay </a>. Фотограф - <a href="https://www.instagram.com/sonya_la_mar/"> Sonya La Mar </a></p>
    </div>&
    <div class="footer__right footer__cta">
      <p><a href="#top">Back to top</a> &uarr;</p>
    </div>
  </footer>
</div>
